@media (max-width:768px){

    .navbar{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav-links{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 15px 0;
    }

    .hero{
        flex-direction: column;
        text-align: center;
        gap: 30px;
        margin-top: 40px;
    }

    .hero-image img{
        width: 220px;
        height: 220px;
    }

    .hero-content{
        width: 90%;
    }

    .hero-content h1{
        font-size: 35px;
    }

    .hero-content p{
        font-size: 18px;
        line-height: 28px;
    }

    .num{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    #contact-info{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact{
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .achievements{
        flex-direction: column;
        align-items: center;
    }

    .achieve img{
        width: 90%;
        height: auto;
    }

    .experience{
        width: 90%;
    }

    .exp{
        width: 100%;
    }

}